extends layout

block content
    #app
    script.
        window.bootstrapped = {
            user: !{JSON.stringify(user)},
            tags: !{JSON.stringify(tags)}
        }
    script(src="/javascripts/build/app.js")

