doctype html
html
  head
    meta(charset='utf-8')
    title= title
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(href='/flat-ui/bootstrap/css/bootstrap.css', rel='stylesheet')
    link(href='/flat-ui/css/flat-ui.css', rel='stylesheet')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body.palette-clouds
    block content
