.tags
    form.add-tag
        input
    ul
        li(rv-each-tag='tags.models', rv-text='tag:name')

.stars
if user.stars
    h2 #{user.get('username')} has #{user.stars.length} starred repos:
    for star in user.stars.models
        p #{star.get('name')}, #{star.get('language')}

