.tags
    ul
        li.tag-item(rv-each-tag='tags:models', rv-data-id="tag:_id")
            span(rv-text='tag:name')
            ul
                li(rv-each-star='tag:stars', rv-text='star')
    form.add-tag
        input

.stars
    h2 #{user.get('username')} has #{stars.length} starred repos:
    p.star-item(draggable='true', rv-each-star='stars.models | filter tags no', rv-data-id='star:_id')
        span(rv-text='star:name')
        | , 
        span(rv-text='star:language')

